@import '../../styles/main';

.title {
  width: 100%;

  &_navigation {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

  &_house {
    margin-right: 15px;
  }

  &_arrow {
    margin-right: 14px;
  }

  &_lable {
    margin-top: 40px;
    font-family: 'Mont-Bold';
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: $colorPrimary;

    @include onMobile {
      margin-top: 24px;
      font-size: 32px;
      line-height: 41px;
    }
  }

  &_arrowText {
    color: $colorSecondary;
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
  }

  &_count {
    margin-top: 8px;
    color: $colorSecondary;
    font-family: 'Mont';
    font-size: 14px;
    line-height: 21px;
  }
}
