@import '../../styles/mixin';
@import '../../styles/vars';
@import '../../styles/reset';

@font-face {
  font-family: 'Mont-Bold';
  font-style: bold;
  font-weight: 900;
  src: url('../../fonts/Mont-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/Mont-Regular.otf') format('opentype');
}

.container {
  max-width: 1136px;
  padding: 25px 16px 0px;

  @include onTablet {
    padding: 41px 24px 0px;
  }

  @media (min-width: 1200px) {
    padding: 41px 0 0;
    margin: 0 auto;
  }
}

.CartContainer {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}
