@import '../../styles/main.scss';

.burger {
  background-color: $colorWhite;
  height: 100vh;
  overflow-x: hidden;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    text-align: center;
    margin-bottom: 32px;

    &:first-child {
      margin-top: 32px;
    }
  }

  &__link {
    font-family: 'Mont-Bold';
    color: $colorSecondary;
    font-size: 12px;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    transition-duration: 0.5s;

    &:hover {
      color: $colorPrimary;
      padding-bottom: 6px;
      border-bottom: 2px solid $colorPrimary;
      transition-duration: 0.5s;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 16px;

    height: 48px;
    width: 100%;
    padding-left: 6px;
    box-shadow: 0px 1px 0px $colorElements;
  }

  &__cross {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    position: absolute;
    right: 0;
    border: 1px solid $colorElements;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid $colorElements;
  }

  &__heart {
    position: absolute;

    bottom: 32px;
    left: 80px;
  }

  &__bag {
    position: absolute;

    bottom: 32px;
    right: 60px;
  }

  &__basket {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    width: 50%;
    height: 70px;
    border-left: 1px solid $colorElements;

    &:focus {
      border-bottom: 2px solid $colorPrimary;
    }
  }

  &__favourites {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    width: 50%;
    height: 70px;

    &:focus {
      border-bottom: 2px solid $colorPrimary;
    }
  }
}

.heart_img {
  height: 15px;
}

.basket_img {
  height: 20px;
}

.mainLogo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo_img {
  width: 64px;
  height: 21px;
}

.cross_icon {
  width: 15px;
  transition: transform 1s;

  &:hover {
    transform: rotate(180deg);
  }
}
