@import '../../styles/mixin';
@import '../../styles/vars';
@import '../../styles/reset';

@font-face {
  font-family: 'Mont-Bold';
  font-style: bold;
  font-weight: 900;
  src: url('../../fonts/Mont-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/Mont-Regular.otf') format('opentype');
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  &__navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    align-items: center;
  }

  &__arrow {
    margin-right: 10px;
    margin-left: 5px;
    height: 10px;
  }

  &__arrowText {
    font-family: 'Mont';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $colorSecondary;
  }

  &__headline {
    font-family: 'Mont-Bold';
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: $colorPrimary;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
    }
  }
}