@import '../../styles/main.scss';

.cartItem {
  width: 288px;
  height: 160px;
  border: 1px solid #e2e6e9;
  padding: 0 16px;

  @include onTablet {
    display: flex;
    justify-content: space-between;
    height: 128px;
    width: 592px;
    padding: 0 24px;
  }

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    width: 752px;
    height: 128px;
  }

  &__info {
    display: inline-flex;
    align-items: center;
    margin-top: 23px;

    @include onTablet {
      margin: 31px 0;
    }
  }

  &__delete_button {
    padding-left: 3px;
    padding-right: 26px;
  }

  &__delete_button_img {
    width: 13px;
    cursor: pointer;
  }

  &__img {
    width: 66px;
    height: 66px;
    padding: 0 7px;

    margin-bottom: 23px;
    width: 66px;
    height: 66px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__description {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: $colorPrimary;

    padding-left: 23px;

    @media (min-width: 640px) and (max-width: 1199px) {
      width: 176px;
      padding-left: 31px;
    }

    @include onDesktop {
      width: 336px;
      padding-left: 31;
    }
  }

  &__count {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include onTablet {
      padding-left: 24px;
    }
    @include onDesktop {
      padding-left: 24px;
    }

    &_button {
      display: flex;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 1px solid #b4bdc4;
      cursor: pointer;
      transition: 0.5s;
      background-color: white;

      &:hover {
        border: 1px solid $colorPrimary;
        transition: 0.5s;
      }

      &_symbol {
        width: 10px;
      }

      &_disabled {
        background-color: grey;
        &:hover {
          border: 1px solid #b4bdc4;
        }
      }
    }

    &_number {
      font-family: 'Mont';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      padding-right: 14px;
      padding-left: 14px;
    }
  }

  &__price {
    font-family: 'Mont-Bold';
    font-weight: 800;
    font-size: 22px;

    display: inline-flex;
    padding-left: 110px;

    @include onTablet {
      padding-left: 53px;
    }
  }
}
