@import "../../../../utils/vars";
@import "../../../../utils/mixin";
@import "../../../../utils/reset";
@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  src: url('../../../../fonts/Mont-SemiBold.otf') format('opentype');
}

.header {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 32px;

    @include onDesktop {
      padding-left: 48px;
    }
  }

  &__link {
    position: relative;
    margin-right: 32px;
    color: $colorSecondary;

    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    transition: color 0.3s;

    display: none;

    @include onTablet {
      display: flex;
    }

    @include onDesktop {
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $colorPrimary;
      &::after {
        content: "";
        position: absolute;
        top: 26.5px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        background-color: $colorPrimary;
      }
    }
  }
}
